.container {
  margin-top: 140px !important;
}

@media (max-width: 768px) {
  .container-filter {
      display: none !important;
  }
  .container {
    margin-top: 60px !important;
  }
}
