.card-container {
  margin-bottom: 30px;
}
.card-container:hover {
  -webkit-box-shadow: 11px 11px 11px -8px rgba(143, 135, 141, 1);
  -moz-box-shadow: 11px 11px 11px -8px rgba(143, 135, 141, 1);
  box-shadow: 10px 10px 10px -10px rgba(143, 135, 141, 1);
}
.card-container:hover > .action-item {
  display: block;
  /* animation: visiable 0.5s linear ; */
}

.card-item-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.image-item {
  width: 100% !important;
  height: 100% !important;
  transition-duration: 0.5s;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Mozilla Firefox */
  -moz-transition-duration: 0.5s;
  /* Opera */
  -o-transition-duration: 0.5s;
  /* IE 9 */
  -ms-transition-duration: 0.5s;
}
.image-item:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.card-item-body {
  height: 130px;
  padding-left: 10px;
  margin-top: 10px;
  position: relative;
}

.card-item-footer {
  background-color: rgba(81, 44, 98, 0.8);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin-top: 4px;
}
.add-to-cart {
  position: relative;
}
.action-item {
  height: 100%;
  position: absolute;
  right: 20px;
  top: -30px;
  animation: bounceInLeft 1s;
}
.d-block {
  display: block;
}

.d-none {
  display: none;
}
.favorite-icon :hover {
  color: #e3b04b;
  cursor: pointer;
  background-color: #e3b04b;
  font-size: 20px;
}
.favorite-icon {
  color: #5e3d6e;
  font-size: 15px;
  position: absolute;
  right: 8px;
  font-size: 20px !important;
}
.tilte {
  color: #000000;
  font-weight: 500;
}
.tilte:hover {
  color: #e3b04b;
}
.cart:hover {
  color: #e3b04b !important ;
  cursor: pointer;
}

.product-item-img {
  width: 100%;
  height: 200px;
}

.showMore {
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  display: -webkit-box;
}
@media (max-width: 768px) {
  .product-item-img {
    height: 150px !important;
  }
  .card-item-image {
    height: 150px !important;
  }
  .rating-home {
    font-size: 16px !important;
  }
}

.rating-home {
  font-size: 20px !important;
}
.sale{
  background-color: #9D0B0B;
  color: #ffffff;
  padding: 6px;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;

}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
