.container-order-item {
  padding: 10px;
}
/* .container-order-item:hover{
  -webkit-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.65) !important;
  cursor: pointer;
} */
.container-order {
  width: 100%;
  border: 1px solid #c1c1c1;
  margin-bottom: 20px;
  border-radius: 10px;
  /* animation-name: fadeInUp;
  animation-duration: 0.3s;
  transition: all 0.3s fadeInUp 0s; */

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
